.vue-easy-desktop-menu-container--slide {
  .main-menu {
    height: 100%;
    display: flex;
    flex-flow: nowrap;

    .nav-item {
      overflow: hidden
      width: var(--top-menu-item-width);
      height: 100%;
      border-right: var(--top-menu-item-border-color);
      transition: all 0.3s ease;

      &:nth-child(1) {
        border-left: var(--top-menu-item-border-color);
      }

      &:hover {
        width: var(--top-menu-item-width-hover) !important;
        transition: all 0.3s ease;

        .link {
          justify-content: flex-start;
        }

        a {
          span {
            display: inline-block;
            animation: fadeIn 1s;
          }

          img {
            display: none;
            animation: fadeIn 1s;
          }
        }
      }
    }

    .link {
      &.router-link-exact-active {
        background: var(--top-menu-item-hover-background);
        color var(--top-menu-item-active-color);
      }

      &:not(.router-link-exact-active):hover {
        background: var(--top-menu-item-active-background);
      }

      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      text-align: left;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: var(--top-menu-item-text-color);

      span {
        display: none;
        padding: var(--top-menu-item-text-padding);
      }

      img {
        width: 50%;
        height: 50%;
        display: block;
        animation: fadeIn 2s;
      }
    }
  }
}
