@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 639px) {
  .top-menu-container {
    z-index: 1000;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 2px 2px #57bd7f;
    border-right: 2px solid #42b983;
    background: white;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $mobile-menu-size;
      height: $mobile-menu-size;
      margin: 1em 0;

      img {
        width: 95%;
        height: 95%;
      }
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .desktop-menu {
      width: $mobile-menu-size;
      transition: all 0.3s ease;

      &:hover {
        width: 20em;
        transition: all 0.3s ease;

        a {
          justify-content: flex-start;
          span {
            display: inline-block;
            animation: fadeIn 1s;
          }

          img {
            display: none;
            animation: fadeIn 1s;
          }
        }
      }

      .burger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%
        height: $mobile-menu-size;

        img {
          width: 60%;
          height: 60%;
        }
      }

      .nav-item {
        width: 100%
        height: $mobile-menu-size;
        border-bottom: 3px solid #42b983;
        transition: all 0.3s ease;

        &:nth-child(2) {
          border-top: 3px solid #42b983;
        }
      }

      .link {
        &.router-link-exact-active {
          background: rgba(0, 185, 74, 0.16);
          color #00b94a;
        }

        &:not(.router-link-exact-active):hover {
          background: rgba(0, 185, 74, 0.04);
        }

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        text-align: left;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        span {
          display: none;
          padding: $menu-text-padding;
        }

        img {
          width: 50%;
          height: 50%;
          display: block;
          animation: fadeIn 2s;
        }
      }
    }
  }
}
