@import "_vars.styl"

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (min-width: 640px) {
  .top-menu-container {
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 2px 2px 2px #57bd7f;
    border-bottom: 2px solid #42b983;
    height: $top-menu-height;
    background: white;

    .logo {
      width: $top-menu-item-width;
      margin: 0 3em;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 95%;
        height: 95%;
      }
    }

    .burger-icon {
      display: none;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .desktop-menu {
      height: 100%;
      display: flex;
      flex-flow: nowrap;

      .nav-item {
        overflow: hidden
        width: $top-menu-item-width;
        height: 100%;
        border-right: 3px solid #42b983;
        transition: all 0.3s ease;
        &:nth-child(2) {
          border-left: 3px solid #42b983;
        }
        &:hover {
          width: $top-menu-item-hover-width;
          transition: all 0.3s ease;

          a {
            span {
              display: inline-block;
              animation: fadeIn 1s;
            }

            img {
              display: none;
              animation: fadeIn 1s;
            }
          }
        }
      }

      .link {
        &.router-link-exact-active {
          background: rgba(0, 185, 74, 0.16);
          color #00b94a;
        }

        &:not(.router-link-exact-active):hover {
          background: rgba(0, 185, 74, 0.04);
        }

        &:hover {
          justify-content: flex-start;
        }

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        text-align: left;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        span {
          display: none;
          padding: $menu-text-padding;
        }

        img {
          width: 50%;
          height: 50%;
          display: block;
          animation: fadeIn 2s;
        }
      }
    }
  }
}
