@import "~@/assets/styles/desktop_styles/_slide.styl"

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 639px) {
  .vue-easy-desktop-menu-container {
    display: none;
  }
}
